
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">客户信息</legend>
      </div>
    

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">姓名</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">
          <label class="control-label">性别</label>
          <div class="controls">
      <!-- Multiple Radios -->
      <label class="radio">
        <input type="radio" value="男" name="group" checked="checked">
        男
      </label>
      <label class="radio">
        <input type="radio" value="女" name="group">
        女
      </label>
  </div>

        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">手机号</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"> </p>
          </div>
        </div><div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">国籍</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">家庭地址</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">药物过敏史</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">食物过敏史</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">其它过敏史</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">
          <label class="control-label">心脏病</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">起搏器</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">高血压</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">糖尿病</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">肝炎</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">奥抗HBsAg+/-</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">AIDS</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">其它传染病</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label">吸烟</label>
          <div class="controls">
      <!-- Multiple Checkboxes -->
      <label class="checkbox">
        <input type="checkbox" value=" ">
         
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">提交</button>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-default">取消</button>
          </div>
        </div>

    </fieldset>
  </form>
